body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.header h1 {
	margin: 0;
}

.header h2 {
	margin: 0;
	font-weight: normal;
}

.content {
	padding: 20px;
}

.section {
	margin-bottom: 20px;
}

.section h3 {
	margin-top: 0;
}

.section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.section li {
	margin-bottom: 10px;
}

.section li h4 {
	margin: 0;
}

.section p {
	margin-bottom: 10px;
}
